In [2]:
#importing libraries
import numpy as np
import pandas as pd

In [3]:
#getting data of table using pd.read_html
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1=pd.read_html(url,header=0)[2]
df2=pd.read_html(url,header=0)[3]
df3=pd.read_html(url,header=0)[4]
df4=pd.read_html(url,header=0)[5]

In [4]:
#appending data to data frame
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
267  DECEMBER  ...  [164]
268  DECEMBER  ...  [137]
269  DECEMBER  ...  [228]
270  DECEMBER  ...  [260]
271  DECEMBER  ...  [261]

[272 rows x 7 columns]

In [8]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [9]:
#importing api and setting up details
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
#use your own key here
tmdb.api_key='04b9df5416d75be096abd805b24b47a1'

In [10]:
#searching for movie and getting genre of it using api
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if result:
      movie_id=result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          np.NaN

In [11]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [12]:
df

      Opening  ...                                           genres
0     JANUARY  ...                          Horror Mystery Thriller
1     JANUARY  ...                                   Thriller Drama
2     JANUARY  ...                                  Action Thriller
3     JANUARY  ...                            Drama History Western
4     JANUARY  ...                                  Action Thriller
..        ...  ...                                              ...
267  DECEMBER  ...                   Mystery Adventure Comedy Crime
268  DECEMBER  ...                             Drama History Comedy
269  DECEMBER  ...                                    Drama History
270  DECEMBER  ...                      Thriller Crime Drama Action
271  DECEMBER  ...  Science Fiction Mystery Drama Thriller TV Movie

[272 rows x 8 columns]

In [14]:
#seperating columns that we need
df_2018 = df[['Title','Cast and crew','genres']]

In [15]:
df_2018

                          Title  ...                                           genres
0       Insidious: The Last Key  ...                          Horror Mystery Thriller
1              The Strange Ones  ...                                   Thriller Drama
2                      Stratton  ...                                  Action Thriller
3                 Sweet Country  ...                            Drama History Western
4                  The Commuter  ...                                  Action Thriller
..                          ...  ...                                              ...
267             Holmes & Watson  ...                   Mystery Adventure Comedy Crime
268                        Vice  ...                             Drama History Comedy
269         On the Basis of Sex  ...                                    Drama History
270                   Destroyer  ...                      Thriller Crime Drama Action
271  Black Mirror: Bandersnatch  ...  Science Fiction Mystery Drama Thriller TV Movie

[272 rows x 3 columns]

In [16]:
#getting director/directors
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [17]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
#getting actor
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [19]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [21]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [23]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_2018

                          Title  ...    actor_3_name
0       Insidious: The Last Key  ...  Leigh Whannell
1              The Strange Ones  ...   Emily Althaus
2                      Stratton  ...      Gemma Chan
3                 Sweet Country  ...             NaN
4                  The Commuter  ...  Patrick Wilson
..                          ...  ...             ...
267             Holmes & Watson  ...    Rebecca Hall
268                        Vice  ...    Steve Carell
269         On the Basis of Sex  ...  Justin Theroux
270                   Destroyer  ...    Toby Kebbell
271  Black Mirror: Bandersnatch  ...   Asim Chaudhry

[272 rows x 7 columns]

In [25]:
#rename columns
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [26]:
#split out useful columns
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [27]:
new_df18.head(5)

        director_name  ...              movie_title
0        Adam Robitel  ...  Insidious: The Last Key
1    Lauren Wolkstein  ...         The Strange Ones
2          Simon West  ...                 Stratton
3    Warwick Thornton  ...            Sweet Country
4  Jaume Collet-Serra  ...             The Commuter

[5 rows x 6 columns]

In [28]:
#replace nan values 
new_df18['actor_1_name'] = new_df18['actor_1_name'].replace(np.nan, 'unknown')
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [29]:
#lower caseing title
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [30]:
#combining all required fields to one field
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [31]:
new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
267          Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
268          Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
269          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
270        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
271         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[272 rows x 7 columns]

In [32]:
#reading old dataset
old_df = pd.read_csv('new_data.csv')

In [33]:
old_df

                 director_name  ...                                               comb
0                James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1               Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                   Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3            Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                  Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                        ...  ...                                                ...
5443          Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5444     Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
5445  Beth David Esteban Bravo  ...                                                NaN
5446              Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...
5447             Daisy Asquith  ...                                                NaN

[5448 rows x 7 columns]

In [42]:
#appending combined dataset of 2018 to old dataset
new_df=old_df.append(new_df18,ignore_index=True)

In [43]:
new_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5715         Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
5716         Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
5717         Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
5718       Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
5719        David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[5720 rows x 7 columns]

In [44]:
#checking nan values 
new_df.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres           10
movie_title       0
comb             76
dtype: int64

In [45]:
#removing nan values
new_df=new_df.dropna(how='any')

In [47]:
#checking nan value
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [49]:
#getting new dataset having all 2017 movies
new_df.to_csv('2017_Movie_data.csv',index=False)