In [1]:
#changing current directory
%cd /content/drive/MyDrive/Movie_Recommender

/content/drive/MyDrive/Movie_Recommender

In [2]:
#verifying if it is changed
!pwd

/content/drive/MyDrive/Movie_Recommender

In [3]:
#import libraries
import numpy as np
import pandas as pd

In [4]:
#importing another dataset
credits=pd.read_csv('credits[1].csv')
credits.head(5)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [5]:
metadata=pd.read_csv('movies_metadata[1].csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#converting release date to date month year format so that we can sort out 2017 movies
metadata['release_date'] = pd.to_datetime(metadata['release_date'], errors='coerce')

In [7]:
metadata['year'] = metadata['release_date'].dt.year

In [8]:
metadata['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [9]:
#getting 2017 movies
new_metadata = metadata.loc[metadata.year == 2017,['genres','id','title','year']]
new_metadata

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26566  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
30536  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  2017.0
...                                                  ...  ...     ...
45398  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  2017.0
45417  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  2017.0
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  2017.0
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  2017.0
45465                                                 []  ...  2017.0

[532 rows x 4 columns]

In [10]:
type(new_metadata['id'])

pandas.core.series.Series

In [11]:
#converting id type to integer
new_metadata['id']=new_metadata['id'].astype(int)

In [12]:
#merging two dataset
data=pd.merge(new_metadata,credits,on='id')

In [13]:
#converting object type to list
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [14]:
#space seperating the genres that are in list and first adding them to a list funtion
def make_genre_list(x):
  genre=[]
  s=" "
  for i in x:
    if i.get('name')=='Science Fiction':
      scifi='Sci-fi'
      genre.append(scifi)
    else:
      genre.append(i.get('name'))
  if genre==[]:
    return np.NaN
  else:
    return s.join(genre)

In [15]:
data['genres_list']=data['genres'].map(lambda x:make_genre_list(x))

In [16]:
data['genres_list'].head(5)

0    Adventure Action Fantasy Comedy
1    Action Adventure Fantasy Sci-fi
2    Action Adventure Fantasy Sci-fi
3     Action Adventure Comedy Sci-fi
4           Fantasy Action Adventure
Name: genres_list, dtype: object

In [17]:
#making actor list and seperating it as actor1 actor2 actor3(as our initial dataset has this format)
def get_actor1(x):
  actor1=[]
  s=" "
  for i in x:
    actor1.append(i.get('name'))
  if actor1 == []:
   return np.NaN
  else:
   return (actor1[0])

In [18]:
data['actor_1_name']=data['cast'].map(lambda x:get_actor1(x))
data['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [19]:
def get_actor2(x):
  actor1=[]
  s=" "
  for i in x:
    actor1.append(i.get('name'))
  if actor1 == [] or len(actor1)<=1:
   return np.NaN
  else:
   return (actor1[1])

In [20]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [21]:
def get_actor3(x):
    actor1 = []
    for i in x:
        actor1.append(i.get('name'))
    if actor1 == [] or len(actor1)<=2:
        return np.NaN
    else:
        return (actor1[2])

In [22]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [23]:
#now doing for director
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [24]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [25]:
#extracting working columns
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]
movie

                      director_name  ...                                             title
0    Joachim Rønning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                       Zack Snyder  ...                                    Justice League
2                     Taika Waititi  ...                                    Thor: Ragnarok
3                        James Gunn  ...                    Guardians of the Galaxy Vol. 2
4                     Sean McNamara  ...                               The King's Daughter
..                              ...  ...                                               ...
526                Hannaleena Hauru  ...                  Thick Lashes of Lauri Mäntyvaara
527           Jonathan A. Rosenbaum  ...                       Cop and a Half: New Recruit
528        Beth David Esteban Bravo  ...                                    In a Heartbeat
529                    Ravi Udyawar  ...                                               Mom
530                   Daisy Asquith  ...                                          Queerama

[531 rows x 6 columns]

In [26]:
#remove nan values columns
movie.isna().sum()
movie = movie.dropna(how='any')
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [27]:
#renaming columns to the ones which are in the data.csv file
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [28]:
#making title lower case as in data.csv file it is that way
movie['movie_title'] = movie['movie_title'].str.lower()

In [29]:
#making new column which has concatination of actor names director names genres 
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [30]:
movie

                      director_name  ...                                               comb
0    Joachim Rønning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1                       Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2                     Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3                        James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gu...
4                     Sean McNamara  ...  Pierce Brosnan William Hurt Benjamin Walker Se...
..                              ...  ...                                                ...
524                     Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
525                     Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
526                Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527           Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
529                    Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[458 rows x 7 columns]

In [31]:
#now we need to make a new data file for 2017 movies so we read old data file
old = pd.read_csv('data.csv')

In [32]:
old

          director_name  ...                                        movie_title
0         James Cameron  ...                                             avatar
1        Gore Verbinski  ...           pirates of the caribbean: at world's end
2            Sam Mendes  ...                                            spectre
3     Christopher Nolan  ...                              the dark knight rises
4           Doug Walker  ...  star wars: episode vii - the force awakens    ...
...                 ...  ...                                                ...
5038        Scott Smith  ...                            signed sealed delivered
5039            unknown  ...                          the following
5040   Benjamin Roberds  ...                               a plague so pleasant
5041        Daniel Hsia  ...                                   shanghai calling
5042           Jon Gunn  ...                                  my date with drew

[5043 rows x 6 columns]

In [33]:
#we do the same combinaton column thing here
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [34]:
old

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5038        Scott Smith  ...  Eric Mabius Daphne Zuniga Crystal Lowe Scott S...
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknow...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benja...
5041        Daniel Hsia  ...  Alan Ruck Daniel Henney Eliza Coupe Daniel Hsi...
5042           Jon Gunn  ...  John August Brian Herzlinger Jon Gunn Jon Gunn...

[5043 rows x 7 columns]

In [35]:
#now we make a new append new data to old file 
new = old.append(movie)

In [36]:
new

             director_name  ...                                               comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4              Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
..                     ...  ...                                                ...
524            Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
525            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
526       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
529           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5501 rows x 7 columns]

In [37]:
#we remove duplicates if any
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [38]:
new

             director_name  ...                                               comb
0            James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1           Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2               Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3        Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4              Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
..                     ...  ...                                                ...
524            Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
525            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
526       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
529           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5364 rows x 7 columns]

In [39]:
#we import that to csv file 
new.to_csv('new_data.csv',index=False)