In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [3]:
#getting data of table using pd.read_html
#header=0 means ignoring first column of html table
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1=pd.read_html(url,header=0)[2]
df2=pd.read_html(url,header=0)[3]
df3=pd.read_html(url,header=0)[4]
df4=pd.read_html(url,header=0)[5]

In [4]:
#appending data to data frame
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
237  DECEMBER  ...  [132]
238  DECEMBER  ...  [221]
239  DECEMBER  ...  [222]
240  DECEMBER  ...  [223]
241  DECEMBER  ...  [224]

[242 rows x 6 columns]

In [5]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [6]:
#importing api and setting up details
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
#use your own key here
tmdb.api_key='04b9df5416d75be096abd805b24b47a1'

In [7]:
#searching for movie and getting genre of it using api
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if result:
      movie_id=result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          np.NaN

In [8]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [9]:
df

      Opening  Opening.1  ...   Ref.                                    genres
0     JANUARY          4  ...    [2]                   Horror Thriller Mystery
1     JANUARY          4  ...    [3]                            Thriller Drama
2     JANUARY          4  ...    [4]                                  Thriller
3     JANUARY         11  ...    [5]                    Drama Adventure Family
4     JANUARY         11  ...    [6]                              Comedy Drama
..        ...        ...  ...    ...                                       ...
237  DECEMBER         25  ...  [132]  Animation Action Adventure Comedy Family
238  DECEMBER         25  ...  [221]                             Drama Romance
239  DECEMBER         25  ...  [222]                 War Drama Action Thriller
240  DECEMBER         25  ...  [223]                       Drama Crime History
241  DECEMBER         27  ...  [224]                                     Drama

[242 rows x 7 columns]

In [14]:
#seperating columns that we need
df_2019 = df[['Title','Cast and crew','genres']]

In [15]:
df_2019

                 Title  ...                                    genres
0          Escape Room  ...                   Horror Thriller Mystery
1           Rust Creek  ...                            Thriller Drama
2     American Hangman  ...                                  Thriller
3     A Dog's Way Home  ...                    Drama Adventure Family
4           The Upside  ...                              Comedy Drama
..                 ...  ...                                       ...
237  Spies in Disguise  ...  Animation Action Adventure Comedy Family
238       Little Women  ...                             Drama Romance
239               1917  ...                 War Drama Action Thriller
240         Just Mercy  ...                       Drama Crime History
241           Clemency  ...                                     Drama

[242 rows x 3 columns]

In [16]:
#getting director/directors
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [20]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
#getting actor
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [24]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [26]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [28]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [29]:
df_2019

                 Title  ...      actor_3_name
0          Escape Room  ...  Deborah Ann Woll
1           Rust Creek  ...      Sean O'Bryan
2     American Hangman  ...     Oliver Dennis
3     A Dog's Way Home  ...   Alexandra Shipp
4           The Upside  ...     Nicole Kidman
..                 ...  ...               ...
237  Spies in Disguise  ...     Rashida Jones
238       Little Women  ...     Florence Pugh
239               1917  ...       Mark Strong
240         Just Mercy  ...       Brie Larson
241           Clemency  ...       Aldis Hodge

[242 rows x 7 columns]

In [30]:
#rename columns
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [31]:
#split out useful columns
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [32]:
new_df19

              director_name  ...        movie_title
0              Adam Robitel  ...        Escape Room
1               Jen McGowan  ...         Rust Creek
2         Wilson Coneybeare  ...   American Hangman
3      Charles Martin Smith  ...   A Dog's Way Home
4               Neil Burger  ...         The Upside
..                      ...  ...                ...
237  Nick Bruno, Troy Quane  ...  Spies in Disguise
238            Greta Gerwig  ...       Little Women
239              Sam Mendes  ...               1917
240   Destin Daniel Cretton  ...         Just Mercy
241         Chinonye Chukwu  ...           Clemency

[242 rows x 6 columns]

In [34]:
#replace nan values 
new_df19['actor_1_name'] = new_df19['actor_1_name'].replace(np.nan, 'unknown')
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [35]:
#lower caseing title
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [37]:
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [39]:
new_df19

              director_name  ...                                               comb
0              Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1               Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2         Wilson Coneybeare  ...  Donald Sutherland Vincent Kartheiser Oliver De...
3      Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4               Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...
..                      ...  ...                                                ...
237  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
238            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
239              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
240   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
241         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[242 rows x 7 columns]

In [41]:
#reading old dataset
old_df = pd.read_csv('2018_Movie_data.csv')

In [42]:
old_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5639         Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
5640         Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
5641         Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
5642       Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
5643        David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[5644 rows x 7 columns]

In [43]:
#appending combined dataset of 2019 to old dataset
new_df=old_df.append(new_df19,ignore_index=True)

In [44]:
new_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5881  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5882            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5883              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5884   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5885         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5886 rows x 7 columns]

In [45]:
#checking nan values 
new_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [46]:
#getting new dataset having all 2018 movies
new_df.to_csv('2019_Movie_data.csv',index=False)